<div class="login container">
  <div class="login-container">
    <div class="login-form">
      <div class="login-logo">
        <div class="logo-probolivia"></div>
        <div class="logo-promueve"></div>
        <div class="logo-ministerio"></div>
      </div>
      <div class="login-header" style="background-color: {{$ctrl.urlPdf? 'green':'#E40421'}}">
        <i class="fa fa-{{$ctrl.urlPdf? 'check':'close'}}"></i><strong> {{$ctrl.urlPdf? 'Certificado Válido': 'No se pudo verificar'}}</strong>
      </div>

      <div class="card-container container" >
        <div class="row" ng-show="!$ctrl.urlPdf">
          <div class="col-lg-12 col-md-12 card-element" style="padding: 50px">
            <strong>No se ha encontrado la información solicitada o el enlace es incorrecto, por favor verifique nuevamente.</strong>
          </div>
        </div>
        <div class="row" ng-show="$ctrl.urlPdf">
          <div class="col card-element" style="padding: 10px">         
            <!--HTML-->
            <div class="row" style="overflow-y: auto; overflow-x: hidden; height: 28vh;">
              <div class="col-sm-4">
                <img src="data:image/jpeg;base64,{{data.img64}}" style="max-height: 250px; max-width:250px;">
              </div>
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Nombre o Razón Social</label>
                  <div class="col-sm-10">
                    <p class="form-control-static"> {{data.razon_social}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Representante Legal</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{data.nombre_completo}}</p>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Producto</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{data.nombre_producto}}</p>
                  </div>
                </div>

                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label">CI </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{data.documento_identidad}}</p>
                  </div>
                </div> -->

                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Departamento: </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{data.departamento}}</p>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Municipio: </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{data.municipio}}</p>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Domicilio: </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{data.direccion_total}}</p>
                  </div>
                </div> -->

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Fecha Emisión: </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">{{data._fecha_aprobacion | date:'dd/MM/yyyy'}}</p>
                  </div>
                  <label class="col-sm-2 col-form-label">Vigencia: </label>
                  <div class="col-sm-4">
                    <p class="form-control-static">{{data._fecha_fin | date:'dd/MM/yyyy'}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!--PDF-->
              <div ng-show="!$ctrl.esEdge()">  
              <iframe ng-src="{{$ctrl.urlPdf}}" style="width:100%; height:44vh;" frameborder="0">
                <p>Su navegador no soporta iframe</p>
              </iframe>
             </div> 
            <div ng-show="$ctrl.esEdge()" class="text-center">
              <span class="login-message"><a href="" ng-click="$ctrl.descargarCertificado()" class="text-success"> <i class="fa fa-download"></i> Descargar certificado</a></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
