<div class="container">
    <h2 class="page-title"><i class="fa fa-table"></i> Solicitud de certificados</h2>
    <div class="card">
        <div class="card-block">
            <div class="d-flex justify-content-between">
                <div class="btn-container p-2">
                    <button class="btn btn-default" md-effect type="button" ng-click="$ctrl.refresh()" uib-tooltip="Actualizar tabla"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div>Nro. de solicitudes: {{$ctrl.items.length}}</div>
            <table ng-table="$ctrl.tableParams" class="table" >
                <tr ng-repeat="item in $ctrl.items">
                    <td title="'Acciones'">
                        <button uib-tooltip="Ver detalles" class="btn btn-default" md-effect  ng-click="$ctrl.verDetalleSolicitud(item)">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td title="'Organización Productiva'">
                        {{item.unidad_productiva.razon_social}}
                    </td>
                    <td title="'NIT'">
                        {{item.unidad_productiva.nit}}
                    </td>
                    <td title="'Representante legal/Propietario'" style="text-align: center">
                        {{item.unidad_productiva.persona_representante.nombre_completo}}
                    </td>
                    <td title="'Nro. Certificados'" style="text-align: center">
                        {{item.certificaciones_pagos.length}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>