.ap-chips {
    input {
        border: none;
        background-color: transparent;
        outline: none;
    }
    div.chip {
        display: inline-block;
        font-size: 0.9rem;
        border: 1px solid black;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 3px;
        padding: 1px 4px;
        i {
            cursor: pointer;
            padding: 0px;
            background-color: white;
            border: none;
            height: 14px;
            // margin-right: -4px;
            font-size: .9rem;

        }
    }
    div.chip + div.chip {
        margin-left: 3px;
    }
    div.chip + input {
        margin-left: 5px;
    }

}
