{
    "server": "http://localhost:4000",
    "timeSessionExpired": 90,
    "debug": true,
    "onbeforeunload": false,
    "port": 3100,
    "subDomain": "/probolivia/",
    "portDev": 8080,
    "rdxUrl": "http://localhost:4000/v1/cuenta", // url del servicio para actualizar cuetna banco union con rdx 
    "rdxUrljs": "https://servicios.bancounion.com.bo/uninetplus/seu.js" // url del script js para crear el rdx, se puede llevar a un server interno o serguir con el del bancounion
}