<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-file-pdf-o"></i> {{$ctrl.item.title? $ctrl.item.title:'Declaración Jurada'}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  
  <table class="table table-hover" ng-if="$ctrl.item.firmador">
    <tr>
      <td style="width:25%;"><i class="fa fa-user-circle"></i> <strong> Firmado por:</strong> </td>
      <td>{{$ctrl.item.firmador.nombre}}</td>
    </tr>
    <tr>
      <td style="width:25%;"><i class="fa fa-building"></i> <strong> Organización:</strong></td>
      <td>{{$ctrl.item.firmador.organizacion}}</td>
    </tr>
    <tr>
      <td style="width:25%;"><i class="fa fa-vcard"></i> <strong> Emisor:</strong></td>
      <td>{{$ctrl.item.firmador.emisor}}</td>
    </tr>
  </table>

  <div class="alert alert-warning" ng-if="$ctrl.item.observaciones">
      <h4><i class="fa fa-warning"></i> OBSERVACIONES</h4>
      {{ $ctrl.item.observaciones }}
  </div>
  <iframe ng-src="{{$ctrl.urlPdf}}" style="width:100%; height:550px;" frameborder="0">
    <p>Su navegador no soporta iframe</p>
  </iframe>
</div>
<div class="modal-footer">
  <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.ok()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>