<div class="container inscripcion">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> Ingrese o confirme la dirección de correo electrónico para continuar con su registro.
            </div>
            <form ng-submit="$ctrl.registrar()" name="form">
                <div class="form-group" ng-class="{ 'has-danger': form.correo.$touched && form.correo.$invalid }">
                    <label for="email-emp"><strong>*</strong> Correo electrónico</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                        <input type="email" name="correo" ng-model="$ctrl.correo" class="form-control" id="email-emp" maxlength="100" aria-describedby="emailHelp" placeholder="Escriba su correo electrónico aquí" required focus-if>
                    </div>
                    <div ng-messages="form.correo.$error" class="form-error" role="alert">
                        <div ng-message="email">No es un correo electrónico válido</div>
                    </div>
                </div>
                <label class="custom-control custom-checkbox inscripcion-terminos">
                    <input type="checkbox" class="custom-control-input" ng-model="$ctrl.terminos" required>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Acepto los <a href="" ng-click="$ctrl.verTerminos()">Términos y condiciones</a> de uso de la plataforma.</span>
                </label>
                <div class="text-right">
                    <button md-effect class="btn btn-primary" type="submit" ng-disabled="form.$invalid">
                        <i class="fa fa-check"></i> Continuar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
