.inscripcion {

    .card {
        max-width: 800px;
        margin: 0 auto;
    }

    &-terminos {
        font-size: .85rem;
        margin-top: 15px;
    }
}
.form-error {
    font-size: .75rem;
    color: crimson;
}
.form-control-small {
    font-size: .9rem;
}