@import '../../../../common/styles/sass/_variables.scss';

.producto-imagen {
    border: 1px dashed #ddd;
    padding: 15px;
    margin: 0;
    text-align: center;
    position: relative;

    img {
        width: 250px;
        max-height: 230px;
    }

    figcaption {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, .4);
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        .btn-container {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 2;

            .btn-outline-dafault {
                margin-bottom: 5px;
                &:hover {
                    background-color: #dddddd;
                }
            }
        }
    }

    &:hover {
        figcaption {
            display: block;
        }
    }
}
.btn-ubicaciones {
    .btn {
        margin: 0 5px 5px 0;
    }
}
.ubicacion-popup {
    p {
        margin: 0 0 3px 0;
    }
}

.blink-container {
    -webkit-animation: blink-container 1s linear infinite alternate;
    -moz-animation: blink-container 1s linear infinite alternate;
    -ms-animation: blink-container 1s linear infinite alternate;
    -o-animation: blink-container 1s linear infinite alternate;
    animation: blink-container 1s linear infinite alternate;

    background-color: lighten($colorWarning, 32%);
}

@keyframes blink-container {
    to {
        background-color: lighten($colorWarning, 22%);;
    }
}
