<div class="container empresa">
    <h2 class="page-title"><i class="fa fa-user"></i> Certificación costo bruto de producción y bienes producidos en el país</h2>
    <form name="form" ng-submit="$ctrl.declarar(form)" novalidate>
        <div class="card card-main">
            <div class="card-header">
              MATRICULA: {{ $ctrl.data.unidad_productiva.matricula_comercio}} - {{ $ctrl.data.unidad_productiva.razon_social }}
            </div>
            <div class="alert alert-warning" ng-if="$ctrl.data.estado == 'OBSERVADO'">
                <h4><i class="fa fa-warning"></i> OBSERVACIONES</h4>
                {{ $ctrl.data.certificacion.observaciones }}
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <!-- <pre>{{ form | json }}</pre> -->
                            <div class="col-md-4 form-group">
                                <label for="codigo-empresa">Código de empresa</label>
                                <p class="form-control-static">{{ $ctrl.data.unidad_productiva.matricula_comercio }}</p>
                            </div>
                            <div class="col-md-8 form-group">
                                <label>Razón social</label>
                                <p class="form-control-static">{{ $ctrl.data.unidad_productiva.razon_social }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label>Rubro</label>
                                <p class="form-control-static">{{ $ctrl.data.parametro_caeb.descripcion }}</p>
                            </div>
                            <div class="col form-group">
                                <label>Georeferenciación</label>
                                <div class="btn-ubicaciones">
                                    <button uib-popover-html="ubicacion.html" 
                                            popover-title="Ubicación {{ $index + 1 }}" 
                                            ng-repeat="ubicacion in $ctrl.ubicaciones" 
                                            md-effect 
                                            type="button" 
                                            class="btn btn-outline-dafault btn-sm"
                                            popover-placement="bottom"
                                            popover-class="ubicacion-popup"
                                            uib-tooltip="Haga click aquí para ver/ocultar la ubicación">
                                        <i class="fa fa-map-marker"></i> ubicación {{ $index + 1 }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="fecha-creacion"> {{$ctrl.data._fecha_creacion | date:'dd/MM/yyyy' }}</div>
                        <button class="btn btn-warning" type="button" md-effect ng-click="$ctrl.masInformacion()"><i class="fa fa-building"></i> Ver más información<br /> de la empresa</button>
                    </div>
                </div>
                <section>
                    <header class="header-section">Ficha técnica</header>
                    <div class="row" id="nombre-producto">
                        <div class="col-md-7 form-group" ng-class="{ 'has-danger': (form.nombre_producto.$touched || form.$submitted) && form.nombre_producto.$invalid }">
                            <label for="nombre-comercial" class="ap-req">Nombre comercial del producto y/o bien</label>
                            <input type="text" alpha-dash class="form-control" maxlength="255" id="nombre-comercial" required name="nombre_producto" ng-model="$ctrl.data.nombre_producto" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                            <div ng-messages="form.nombre_producto.$error" class="form-error" ng-if="form.$submitted || form.nombre_producto.$touched">
                                <div ng-message="required">El campo es obligatorio</div>
                            </div>
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" maxlength="255" id="marca" name="marca" ng-model="$ctrl.data.marca" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <section id="descripcion-producto-otros">
                                <header class="header-section mt-0">Descripción del producto</header>
                                <div class="row">
                                    <div class="col-md-8 form-group ui-help-input" ng-class="{ 'has-danger': (form.color.$touched || form.$submitted) && form.color.$invalid }">
                                        <label for="color" ng-class="{'ap-req':!$ctrl.data.shb}">Color</label>
                                        <input class="form-control" type="text" placeholder="Ej. Rojo" alpha-numeric id="color" ng-required="!$ctrl.data.shb" name="color" ng-model="$ctrl.data.color" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                        <ui-help message="$ctrl.helpLang.color" direction="top"></ui-help>
                                        <div ng-messages="form.color.$error" class="form-error" ng-if="form.$submitted || form.color.$touched">
                                            <div ng-message="required">El campo es obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group ui-help-input">
                                        <label for="talla">Talla</label>
                                        <input class="form-control" type="text" maxlength="10" id="talla" name="talla" ng-model="$ctrl.data.talla" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                        <ui-help message="$ctrl.helpLang.talla" direction="top"></ui-help>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md form-group ui-help-input">
                                        <label for="medidas">Medidas</label>
                                        <input class="form-control" type="text" placeholder="Alto X cm, Ancho X cm, Fondo X cm" maxlength="100" id="medidas" name="medidas" ng-model="$ctrl.data.medidas" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                        <ui-help message="$ctrl.helpLang.medidas" direction="top"></ui-help>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group ui-help-input">
                                        <label for="peso">Peso</label>
                                        <input class="form-control" type="text" placeholder="0.00" maxlength="10" decimal-format id="peso" name="peso" ng-model="$ctrl.data.peso" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                        <ui-help message="$ctrl.helpLang.peso" direction="top"></ui-help>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <select-parametro name="fid_par_unidad_medida" parametro="UNIDAD_MEDIDA" label="Unidad de medida"
                                                        ng-model="$ctrl.data.fid_par_unidad_medida"
                                                        ng-change="$ctrl.guardarForm()"
                                                        ng-required="!$ctrl.data.shb">
                                        </select-parametro>
<!--                                        <select ng-required="!$ctrl.data.shb" 
                                                ng-model="$ctrl.data.fid_par_unidad_medida"
                                                ng-change="$ctrl.guardarForm()">
                                            <option value="{{ item.id_parametro }}" ng-repeat="item in $ctrl.unidades_peso">{{item.nombre}}</option>
                                        </select>
                                        <label class="md-control-label" for="select">Unidad de medida</label>-->
                                            
                                            <i class="md-bar"></i>
                                            
                                        <div ap-error ng-messages="form.fid_par_unidad_medida.$error" role="alert" ng-if="form.fid_par_unidad_medida.$touched">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                        <input name="unidad_medida_text" maxlength="50" class="form-control" ng-model="$ctrl.data.unidad_medida" placeholder="Ingresar Descripción"
                                                ng-show="$ctrl.data.fid_par_unidad_medida === 700"
                                                ng-required="$ctrl.data.fid_par_unidad_medida === 700 && !$ctrl.data.shb"
                                                ng-change="$ctrl.guardarForm()">
                                        <div ap-error ng-messages="form.unidad_medida_text.$error" role="alert" ng-if="form.unidad_medida_text.$touched">
                                            <div ng-message="required">Ingrese unidad de medida</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-5">
                            <section id="imagen-producto">
                                <figure ng-if="$ctrl.urlImage" class="producto-imagen">
                                    <img ng-src="{{ $ctrl.urlImage }}" alt="Imagen Producto">
                                    <figcaption>
                                        <div class="btn-container">
                                            <button class="btn btn-outline-dafault" md-effect type="button" ng-click="$ctrl.cambiarImagen()">
                                                <i class="fa fa-exchange"></i> Cambiar imagen
                                            </button>
                                            <button class="btn btn-danger" md-effect type="button" ng-click="$ctrl.eliminarImagen()">
                                                <i class="fa fa-trash"></i> Eliminar imagen
                                            </button>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div ng-if="!$ctrl.urlImage">
                                    <ui-file-upload url="$ctrl.photo.url" name="archivo" text-upload="Arrastre la imagen de su producto aquí o haga click aquí"
                                        types="|png|jpg|gif|jpeg|" on-complete-item="$ctrl.photo.onCompleteItem" label="Subir imagen"></ui-file-upload>
                                    <span><strong>Nota.-</strong> La entidad no se hace responsable de los derechos de Copyright de la imagen.</span>
                                    <div class="text-center" ng-if="$ctrl.data.imagen_producto">
                                        <button class="btn btn-outline-dafault" md-effect type="button" ng-click="$ctrl.cancelarCambioImagen()">
                                            <i class="fa fa-ban"></i> Cancelar cambio de imagen
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-md-7" id="descripcion-producto">
                            <header class="header-section">Descripción del proceso productivo</header>
                            <div class="form-group" ng-class="{ 'has-danger': (form.capacidad_prod_mensual.$touched || form.$submitted) && form.capacidad_prod_mensual.$invalid }">
                                <label for="capacidad-produccion" class="ap-req">Capacidad producción mensual</label>
                                <input class="form-control" type="text" placeholder="0" numeric id="capacidad-produccion" required name="capacidad_prod_mensual" ng-model="$ctrl.data.capacidad_prod_mensual" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                <div ng-messages="form.capacidad_prod_mensual.$error" class="form-error" ng-if="form.$submitted || form.capacidad_prod_mensual.$touched">
                                    <div ng-message="required">El campo es obligatorio</div>
                                </div>
                            </div>                          
                            <div class="form-group" ng-class="{ 'has-danger': (form.desc_produccion.$touched || form.$submitted) && form.desc_produccion.$invalid }">
                                <label for="descripcion-proceso" class="ap-req">Breve descripción del proceso productivo</label>
                                <textarea class="form-control" id="descripcion-proceso" maxlength="500" name="desc_produccion" required rows="8" ng-model="$ctrl.data.desc_produccion" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }"></textarea>                               
                                <div class="text-right" ng-if="form.desc_produccion.$viewValue"><small>{{form.desc_produccion.$viewValue.length}}/500</small></div>
                                <div ng-messages="form.desc_produccion.$error" class="form-error" ng-if="form.$submitted || form.desc_produccion.$touched">
                                    <div ng-message="required">El campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <section id="descripcion-producto-comercializacion">
                                <header class="header-section">Comercialización</header>
                                <div class="form-group" ng-class="{ 'has-danger': (form.precio_unitario.$touched || form.$submitted) && form.precio_unitario.$invalid }">
                                    <label for="precio-unitario" class="ap-req">Precio {{$ctrl.data.shb? 'referencial':'unitario' }} </label>
                                    <input class="form-control" type="text" placeholder="0.00" decimal-format id="precio-unitario" required name="precio_unitario" ng-model="$ctrl.data.precio_unitario" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                    <div ng-messages="form.precio_unitario.$error" class="form-error" ng-if="form.$submitted || form.precio_unitario.$touched">
                                        <div ng-message="required">El campo es obligatorio</div>
                                    </div>
                                </div>                           
                                <div ng-class="{ 'has-danger': (form.tipo_comercio.$touched || form.$submitted) && form.tipo_comercio.$invalid }">
                                    <div class="form-group">
                                        <label for="tipo_comercio" class="ap-req">Comercio</label>
                                    </div>
                                    <div>
                                        <label class="custom-control custom-radio">
                                            <input id="tipo-comercio-1" required name="tipo_comercio" type="radio" class="custom-control-input" ng-model="$ctrl.data.tipo_comercio" value="NACIONAL" ng-click="$ctrl.guardarForm()">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Nacional</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input id="tipo-comercio-2" required name="tipo_comercio" type="radio" class="custom-control-input" ng-model="$ctrl.data.tipo_comercio" value="EXTRANJERO" ng-click="$ctrl.guardarForm()">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Externo</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input id="tipo-comercio-3" required name="tipo_comercio" type="radio" class="custom-control-input" ng-model="$ctrl.data.tipo_comercio" value="NACIONAL Y EXTRANJERO" ng-click="$ctrl.guardarForm()">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Nacional y externo</span>
                                        </label>
                                    </div>
                                    <div ng-messages="form.tipo_comercio.$error" class="form-error" ng-if="form.$submitted || form.tipo_comercio.$touched">
                                        <div ng-message="required">El campo es obligatorio</div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <header class="header-section">Solo exportadores</header>
                                <div class="form-group">
                                    <label for="posicion-arancelaria">Posición arancelaria (NANDINA)</label>
                                    <input type="text" class="form-control" id="posicion-arancelaria" name="nandina" ng-model="$ctrl.data.fid_nandina" ng-change="$ctrl.guardarForm()" ng-model-options="{ debounce: 500 }">
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section id="lista-insumos" ng-if="!$ctrl.data.shb">
                    <header class="header-section">Cuadro de costo bruto de producción</header>
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> Nota.- El valor de la <strong>mano de obra</strong> es el costo aproximado que se le paga a una persona por producir una unidad del bien o producto.
                    </div>
                    <crud-table formly="$ctrl.insumos.formly"
                                permission="$ctrl.insumos.permission"
                                inline="true"
                                data="$ctrl.insumos.data"
                                fks="$ctrl.insumos.fks"
                                hidden-fields="$ctrl.insumos.hiddenFields"
                                merge-fields="$ctrl.insumos.mergeFields"
                                ng-if="$ctrl.renderInsumos"
                                callback-save="$ctrl.total.save"
                                fields="$ctrl.insumos.fields"
                                pagination="false">
                    </crud-table>
                    <!-- <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-3 form-group">
                            <label for="total_valor_costo_bruto">Total valor costo bruto(Bs.)</label>
                            <input type="text" id="total_valor_costo_bruto" ng-model="$ctrl.data.total_valor_costo_bruto" class="form-control text-right" ng-disabled="true" placeholder="0">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="total_costo_bruto">Total costo bruto(Bs.)</label>
                            <input type="text" id="total_costo_bruto" ng-model="$ctrl.data.total_costo_bruto" class="form-control text-right" ng-disabled="true" placeholder="0">
                        </div>
                    </div> -->
                </section>
                <!-- <section id="lista-pagos">
                    <header class="header-section">Depósito del trámite</header>
                    <crud-table formly="$ctrl.pagos.formly"
                                permission="$ctrl.pagos.permission"
                                inline="true"
                                data="$ctrl.pagos.data"
                                fks="$ctrl.pagos.data.fks"
                                ng-if="$ctrl.renderPagos"
                                pagination="false">
                    </crud-table>
                </section>
                <section>
                    <header class="header-section">Datos de factura</header>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="razon-social">Razón social</label>
                                <p class="form-control-static">{{ $ctrl.matricula.razon_social }}</p>
                            </div>  
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="ci-nit">C.I. o NIT</label>
                                <p class="form-control-static">{{ $ctrl.usuario.nit }}</p>
                            </div>  
                        </div>
                    </div>
                </section> -->
            </div>
            <div class="card-footer text-right">
                <div class="alert alert-danger pull-left margin-0">
                    (*) Los campos son obligatorios
                </div>
                <button type="button" class="btn btn-dafault" ng-click="$ctrl.atras()">
                    <i class="fa fa-angle-double-left"></i> Atrás
                </button>
                <button type="submit" class="btn btn-primary">
                    Guardar y declarar
                    <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </form>
</div>