<div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-user"></i>{{$ctrl.ngLabel}}</h5>
    <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <leaflet width="100%" height="380px" lf-center="$ctrl.center" markers="$ctrl.markers"></leaflet>
</div>
<div class="modal-footer">
    <button md-effect type="button" class="btn btn-secondary" ng-click="$ctrl.cancel()">
        <i class="fa fa-close"></i> Cerrar
    </button>
    <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.ok()">
        <i class="fa fa-check"></i> Guardar
    </button>
</div>
