@media (min-width: 991px) {
  .barLateralIzquierda{
    border-left-color: #D3D9DF;
    border-left-style: groove;
    border-left-width: 1px;
    display: block;
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .barLateralIzquierda{
    padding-top: 1rem;
    border-top-color: #D3D9DF;
    border-top-style: groove;
    border-top-width: 1px;
  }
}
