<ng-form name="dep_pro_mun_form">
  <div class="row">
    <div class="form-group col-md-4">
      <uib-select name="departamento" label="Departamento:" ng-model="$ctrl.departamento" items="$ctrl.departamentos" key-value="id" key-text="descripcion" placeholder="Seleccione..." ng-required="$ctrl.conf.fid_departamento.requerido" ng-disabled="$ctrl.conf.fid_departamento.disabled"></uib-select>
      <div ap-error ng-messages="dep_pro_mun_form.departamento.$error" role="alert" ng-if="dep_pro_mun_form.departamento.$touched">
        <div ng-message="required">El campo es requerido</div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <uib-select name="provincia" label="Provincia:" ng-model="$ctrl.provincia" items="$ctrl.provincias" key-value="id" key-text="nombre" placeholder="Seleccione..." ng-required="$ctrl.conf.fid_provincia.requerido" ng-disabled="$ctrl.conf.fid_provincia.disabled"></uib-select>
      <div ap-error ng-messages="dep_pro_mun_form.provincia.$error" role="alert" ng-if="dep_pro_mun_form.provincia.$touched">
        <div ng-message="required">El campo es requerido</div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <uib-select name="municipio" label="Municipio:" ng-model="$ctrl.municipio" items="$ctrl.municipios" key-value="id" key-text="nombre" placeholder="Seleccione..." ng-required="$ctrl.conf.fid_municipio.requerido" ng-disabled="$ctrl.conf.fid_municipio.disabled"></uib-select>
      <div ap-error ng-messages="dep_pro_mun_form.municipio.$error" role="alert" ng-if="dep_pro_mun_form.municipio.$touched">
        <div ng-message="required">El campo es requerido</div>
      </div>
    </div>
  </div>
</ng-form>
