<div class="card card-verificacion col-md-6 push-md-2">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <div class="logo-probolivia"></div>
        <div class="logo-promueve"></div>
      </div>
      <div class="col-md-3 verificacion-logo" style="background-color: {{$ctrl.isCorrecto? 'green':'#E40421'}}">
      <i class="fa fa-{{$ctrl.isCorrecto? 'check':'close'}}"></i><strong> {{$ctrl.isCorrecto? 'Certificado Válido': 'No se pudo verificar'}}</strong>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="row" ng-show="!$ctrl.isCorrecto">
      <div class="col-lg-12 col-md-12 card-element" style="padding: 50px">
        <strong>No se ha encontrado la información solicitada o el enlace es incorrecto, por favor verifique nuevamente.</strong>
      </div>
    </div>

    <div class="row" ng-show="$ctrl.isCorrecto">
      <div class="col-lg-12 col-md-12 card-element" style="padding: 10px">
        <!--HTML-->
        <div class="form-group" style="overflow-y: scroll; overflow-x: hidden; height:400px;">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre o Razón Social: </label>
            <div class="col-sm-10">
              <p class="form-control-static"> {{$ctrl.informacion.unidad_productiva.razon_social}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Representante Legal: </label>
            <div class="col-sm-10">
              <p class="form-control-static">{{$ctrl.informacion.representante.nombre_completo}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Categoria: </label>
            <div class="col-sm-10">
              <p class="form-control-static">{{$ctrl.informacion.unidad_productiva.categorizacion}} {{($ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'|| $ctrl.informacion.unidad_productiva.categorizacion==='ICAP' )? '':' EMPRESA'}}   </p>
            </div>
          </div>
          <!--RUBROS (Para no ICAP)-->
          <div ng-show="$ctrl.informacion.unidad_productiva.categorizacion !== 'ICAP'">
            <!--Rubro 1-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'? 'Clasificación Principal:':'Rubro Principal:' }}</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'? $ctrl.informacion.producto_principal.parametro.nombre :$ctrl.informacion.caeb_principal.padre.padre.padre.descripcion }}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Actividad Principal: </label>
              <div class="col-sm-10">
                <p class="form-control-static">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'?  $ctrl.informacion.caeb_principal.descripcion: $ctrl.informacion.caeb_principal.padre.padre.descripcion}} </p>
              </div>
            </div>
            <!--Rubro 2-->
            <div class="form-group row" ng-if="$ctrl.informacion.caeb_secundario">
              <label class="col-sm-2 col-form-label">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'? 'Clasificación Secundaria:':'Rubro Secundario:' }}</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'? $ctrl.informacion.producto_secundario.parametro.nombre :$ctrl.informacion.caeb_secundario.padre.padre.padre.descripcion }}</p>
              </div>
            </div>

            <div class="form-group row" ng-if="$ctrl.informacion.caeb_secundario">
              <label class="col-sm-2 col-form-label">Actividad Secundaria: </label>
              <div class="col-sm-10">
                <p class="form-control-static">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'?  $ctrl.informacion.caeb_secundario.descripcion: $ctrl.informacion.caeb_secundario.padre.padre.descripcion}}</p>
              </div>
            </div>
          </div>

          <!--SERVICIOS (Para ICAP)-->
          <div ng-show="$ctrl.informacion.unidad_productiva.categorizacion === 'ICAP'">
            <!--Servicios-->
            <div ng-repeat="serv in $ctrl.informacion.unidad_productiva.ddjj_servicios"  >
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">SERVICIO</label>
                <div class="col-sm-10">
                  <p class="form-control-static text-uppercase" >{{serv.servicio.parametro_padre.parametro_padre.sigla}} - {{serv.servicio.parametro_padre.nombre}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">ÁREA DE ESPECIALIZACIÓN: </label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{serv.servicio.sigla}}</p>
                </div>
              </div>
            </div>
          </div>



          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'? 'CI/NIT:':'NIT:' }}  </label>
            <div class="col-sm-10">
              <p class="form-control-static"> {{$ctrl.informacion.unidad_productiva.categorizacion === 'ARTESANO'? $ctrl.informacion.representante.documento_identidad: $ctrl.informacion.unidad_productiva.nit }} </p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Departamento: </label>
            <div class="col-sm-10">
              <p class="form-control-static">{{$ctrl.informacion.ubicacion.departamento.descripcion}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Municipio: </label>
            <div class="col-sm-10">
              <p class="form-control-static">{{$ctrl.informacion.ubicacion.municipio.nombre}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Domicilio: </label>
            <div class="col-sm-10">
              <p class="form-control-static" ng-class="$ctrl.informacion.ubicacion.zona.length > 30 || $ctrl.informacion.ubicacion.avenida_calle.length > 30 ? 'card-overflow' : ''">
              {{$ctrl.informacion.ubicacion.zona}} {{$ctrl.informacion.ubicacion.avenida_calle}} {{ $ctrl.isNro ? 'Nro.':''}} {{$ctrl.informacion.ubicacion.numero}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fecha Emisión: </label>
            <div class="col-sm-10">
              <p class="form-control-static">{{$ctrl.informacion.certificacion._fecha_aprobacion|  date:'dd/MM/yyyy'}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Vigencia: </label>
            <div class="col-sm-10">
              <p class="form-control-static">{{$ctrl.informacion.certificacion._fecha_fin|  date:'dd/MM/yyyy'}}</p>
            </div>
          </div>
        </div>
        <!--PDF-->
        <div ng-show="!$ctrl.esEdge()">
          <iframe ng-src="{{$ctrl.urlPdf}}" style="width:100%; height:300px;" frameborder="0">
            <p>Su navegador no soporta iframe</p>
          </iframe>
        </div>
        <div ng-show="$ctrl.esEdge()" class="text-center">
          <span class="login-message"><a href="" ng-click="$ctrl.descargarCertificado()" class="text-success"> <i class="fa fa-download"></i> Descargar certificado</a></span>
        </div>
      </div>
    </div>
  </div>
<div class="logo-ministerio"></div>
</div>
