<div class="login container">
  <div class="login-container admin">
    
    <!-- <div class="login-header">
        <i class="fa fa-sign-in"></i> Inicie su sesión
    </div> -->
    <div class="card-container container">
      <div class="row">
        <div class="col card-element login-block">
          <div class="alert alert-info text-center">
            <i class="fa fa-building-o"></i> <strong>ADMINISTRADOR DEL SISTEMA</strong>
          </div>
          <form ng-submit="$ctrl.signinAdmin()">
            <div class="md-input-group">
              <span class="md-input-group-addon"><i class="fa fa-user"></i></span>
              <md-input label="Correo electrónico" ng-model="$ctrl.usuario" required id="usuario"></md-input>
            </div>
            <div class="md-input-group">
              <span class="md-input-group-addon"><i class="fa fa-lock"></i></span>
              <md-input label="Contraseña" ng-model="$ctrl.contrasena" type="password" required></md-input>
            </div>
            <button md-effect class="btn btn-primary btn-lg btn-block" type="submit">
              <i class="fa fa-sign-in"></i> Iniciar sesión
            </button>
            <p class="centerText"><br/>
              <span class="login-message"><a href="" ng-click="$ctrl.olvidoContrasena()" class="text-success">¿Olvidó su contraseña?</a></span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
