<div class="login container">
  <div class="login-container">
    <div class="login-form">
      <!--<div class="login-logo">
        <div class="epdb2015"></div>
        <div class="epdb-logo" align="rigth"></div>
     </div>-->      
     <div class="card-container container">
        <div class="row">
            
          <div class="col card-element login-block">
              <div class="alert alert-success text-center" ng-if="!$ctrl.nitCheck2">
                  <i class="fa fa-building-o"></i> <strong>ASOCIASION CENTRO VIRGEN NIÑA - EPDB</strong>
                </div>
            <form ng-submit="$ctrl.signin()">
             <!-- <p class="login-message text-success">* Si <strong>no</strong> tiene <strong>NIT</strong>, solicite una cuenta para acceder al sistema haciendo click <strong><a href="" ng-click="$ctrl.registrarCuenta()" class="text-success">AQUÍ</a></strong></p>-->
              <div class="md-input-group">
                <span class="md-input-group-addon"><i class="fa fa-user"></i></span>
                <div class="md-form-group" md-event-label>
                  <input ng-model="$ctrl.usuario2" required id="usuario" type="text"  ng-change="$ctrl.validateMailKeyup()">
                  <label class="md-control-label" for="input">Email</label>
                  <i class="md-bar"></i>
                  <div class="md-input-warning" ng-show="!$ctrl.isCorreoOk">Correo inválido</div>
                </div>
              </div>
              <div class="md-input-group">
                <span class="md-input-group-addon"><i class="fa fa-lock"></i></span>
                <md-input label="Contraseña" ng-model="$ctrl.contrasena2" type="password" required></md-input>
              </div>
              <div class="md-input-group text-center" >

                <!--                <label class="custom-control custom-radio" style=" {{$ctrl.isTipoOk? '': 'background-color: orange;color: white'}}">
                                  <input name="genero" type="radio" class="custom-control-input" ng-model="$ctrl.tipo" value="EMPRESARIO" ng-click="$ctrl.cleanEstiloTipo()" >
                                  <span class="custom-control-indicator"></span>
                                  <small><span class="custom-control-description"style="margin-left: 3px">EMPRESARIO</span></small>
                                </label>
                                <label class="custom-control custom-radio" style=" {{$ctrl.isTipoOk? '': 'background-color: orange;color: white'}}" ng-click="$ctrl.cleanEstiloTipo()">
                                  <input name="genero" type="radio" class="custom-control-input" ng-model="$ctrl.tipo" value="ARTESANO" >
                                  <span class="custom-control-indicator"></span>
                                  <small><span class="custom-control-description">ARTESANO</span></small>
                                </label>-->

              </div><br/>
              <button md-effect class="btn btn-success btn-lg btn-block" type="submit">
                <i class="fa fa-sign-in"></i> Iniciar sesión
              </button>
              <p class="centerText"><br/>
                <span class="login-message"><a href="" ng-click="$ctrl.olvidoContrasena()" class="text-success">¿Olvidó su contraseña?</a></span>
              </p>
              <!--<p class="centerText">
                <span class="login-message"><a href="" ng-click="$ctrl.registrarCuenta()" class="text-success">Crear una cuenta nueva</a></span>
              </p>-->
            </form>
          </div>
        </div>
      </div>
      <div class="logo-ministerio"></div>
    </div>
  </div>
