//Colores base
$colorPrimary: #309191;//verde oscuro
$colorSecundary: #f28f3f;//Naranja
$colorThird: #ffcd35;//Amarillo

//Colores alerta
$colorSuccess: #f28f3f;//amarillo
$colorInfo:    #f28f3f;//naranja formularios
$colorWarning: #34b5aa;
$colorDanger:  #f35958;
$colorSecondary: #aaaaaa;

$colorSidenav: #309191;//verde