module.exports = {
  NODE_ENV: '"production"',
  API_URL: '"http://mi.servidor.com/api/v1/"',
  AUTH_URL: '"http://mi.servidor.com/autenticar"',
  NO_API_URL: '"http://mi.servidor.com/"',
  TIME_SESSION_EXPIRED: 30,
  ONBEFOREUNLOAD: false,
  AUTH_TOKEN: '"JWT"',
  LANG: '"es"',
  DEBUG_MODE: false
};