<nav class="navbar">
    <div class="d-flex row justify-content-between">
        <div class="form-inline navbar-buttons">
            <button type="button" class="btn btn-link btn-toggle" ng-click="$ctrl.toggleSidenav()">
                <i class="fa fa-bars"></i>
            </button>
            <button type="button" class="btn btn-link" ng-click="$ctrl.refresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-link" ng-click="$ctrl.fullscreen()">
                <i class="fa fa-arrows-alt"></i>
            </button>
            <!-- <button type="button" class="btn btn-link">
                <i class="fa fa-bell-o"></i>
            </button>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Escriba su búsqueda aquí">
            </div> -->
            <!-- <uib-select ng-model="$ctrl.empresa" placeholder="Seleccione una empresa" items="$ctrl.empresas"></uib-select> -->
        </div>

        <div class="row" style="margin-right: 10px;">
          <div class="form-inline text-right telefono" style="margin-right: 15px;">
              <i class="fa fa-phone" style="margin-right: 10px;"> </i>
              CONTACTO
          </div>
          <div class="navbar-nav navbar-buttons">
            <div class="nav-item dropdown" uib-dropdown is-open="status.isopen">
                <a id="single-button" href="" class="nav-link" uib-dropdown-toggle>
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="margin-top: -40px;">
                    <a class="dropdown-item" href="" ng-click="$ctrl.miCuenta()"><i class="fa fa-user"></i> Mi cuenta</a>
                    <!-- <a class="dropdown-item" href=""><i class="fa fa-cog"></i> Configuraciones</a> -->
                    <a class="dropdown-item" href="" ng-click="$ctrl.logout()"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                </div>
            </div>
          </div>
        <div>
    </div>
</nav>
