<div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-gavel"></i> Declaración Jurada</h5>
    <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form name="form" ng-submit="$ctrl.ok()">
    <div class="modal-body" ng-if="$ctrl.user.id_rol == 4">
        <div class="alert alert-info text-justify">
            <i class="fa fa-info-circle"></i> En el transcurso de los siguientes {{$ctrl.items.numero_dias}} días hábiles, se le enviará un correo electrónico
            para confirmarle el monto del depósito a realizar en el <strong>Banco Unión</strong> (Cuenta en bolivianos <strong>Nro. {{$ctrl.items.cuenta_banco}}</strong>). En caso de que su trámite haya sido aprobado. Caso
            contrario, se le informará si este fuese observado o rechazado para tomar las medidas correspondientes.
        </div>
        <p class="text-justify">
          En cumplimiento del Artículo 1322° del Código Civil y Art. 157° Parágrafo IV del Código Procesal Civil, sujeto en caso de inexactitud o falsedad a la cancelación del trámite de constitución y, a las penalidades
          establecidas en el Art. 169° del Código Penal como falso testimonio, DECLARO que la información contenida en el presente formulario es fidedigna.
        </p>
        <p>Por tanto:</p>
        <div class="text-center">
            <label class="custom-control custom-checkbox inscripcion-terminos">
                <input type="checkbox" class="custom-control-input" ng-model="$ctrl.declarar" required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"> Acepto y declaro la veracidad de la información presentada.
            </label>
        </div>
    </div>
    <div class="modal-body" ng-if="$ctrl.user.id_rol == 2 || $ctrl.user.id_rol == 5">
      <p class="text-justify">
        Después de confirmar la declaración jurada ya no podrá realizar cambios. ¿Desea continuar?
      </p>
    </div>
    <div class="modal-footer">
        <button md-effect type="button" class="btn btn-secondary" ng-click="$ctrl.cancel()">
            <i class="fa fa-close"></i> Cancelar
        </button>
        <button md-effect type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.ok()" >
            <i class="fa fa-check"></i> Continuar
        </button>
    </div>
</form>
