<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-building"></i> Datos de la empresa</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body empresa-modal">
  <section>
    <header class="header-section">Información general</header>
    <div class="row">
      <div class="col form-group">
        <label> Nombre de la empresa:</label>
        <p class="form-control-static">{{$ctrl.empresa.razon_social}}</p>
      </div>
      <div class="col form-group">
        <label>Tipo de organización:</label>
        <p class="form-control-static">{{$ctrl.empresa.tipo_societario.nombre}}</p>
      </div>
    </div>
    <div class="form-group">
      <label>Objeto de la empresa:</label>
      <p class="form-control-static">{{$ctrl.empresa.hist_empresa.descripcion_actividad_declarada}}</p>
    </div>
  </section>
  <section>
    <header class="header-section">Información del registro de fundempresa</header>
    <div class="row">
      <div class="col form-group">
        <label>Matrícula de comercio:</label>
        <p class="form-control-static">{{$ctrl.empresa.matricula_comercio}}</p>
      </div>
      <div class="col form-group">
        <label>NIT:</label>
        <p class="form-control-static">{{$ctrl.empresa.nit}}</p>
      </div>
    </div>
  </section>
  <section>
    <header class="header-section">Representante legal</header>
    <div class="row">
      <div class="col form-group">
        <label>Nombre:</label>
        <p class="form-control-static" >
          <span ng-show="$ctrl.empresa.hist_representantes.nombre_completo !== undefined && $ctrl.empresa.hist_representantes.documento_identidad !== undefined">
            {{$ctrl.empresa.hist_representantes.nombre_completo}}
          </span>
        </p>
      </div>
      <div class="col form-group">
        <label>Cédula de identidad:</label>
        <p class="form-control-static" >
          <span ng-show="$ctrl.empresa.hist_representantes.nombre_completo !== undefined && $ctrl.empresa.hist_representantes.documento_identidad !== undefined">
            {{$ctrl.empresa.hist_representantes.documento_identidad}}
          </span>
        </p>
      </div>
    </div>
  </section>

  <section>
    <header class="header-section">Datos de la empresa unipersonal o sociedad comercial</header>
    <uib-tabset active="active">
      <uib-tab index="$index" ng-repeat="sucursal in $ctrl.sucursales">
        <uib-tab-heading>
          <i class="fa fa-building-o"></i> {{sucursal.tipo_sucursal ==1? 'CASA MATRIZ': tab.nombre}}
        </uib-tab-heading>
        <div class="tab-container">
          <div class="row">
            <div class="col form-group">
              <label>Departamento:</label>
              <p class="form-control-static">{{ sucursal.departamento}}</p>
            </div>
            <div class="col form-group">
              <label>Municipio:</label>
              <p class="form-control-static">{{ sucursal.municipio}}</p>
            </div>
            <div class="col form-group">
              <label>Provincia:</label>
              <p class="form-control-static">{{ sucursal.provincia}}</p>
            </div>          
          </div>
          <div class="row">
            <div class="col form-group">
              <label>Zona:</label>
              <p class="form-control-static">{{ sucursal.zona}}</p>
            </div>
            <div class="col form-group">
              <label>Avenida/Calle:</label>
              <p class="form-control-static">{{ sucursal.avenida_calle}}</p>
            </div>
            <div class="col form-group">
              <label>Nº: </label> 
              <p class="form-control-static">{{ sucursal.numero}}</p> 
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label>Avenida/Calle de referencia:</label>
              <p class="form-control-static">{{ sucursal.avenida_calle_referencia}}</p>
            </div>
            <div class="col form-group">
              <label>Edificio:</label>
              <p class="form-control-static">{{ sucursal.edificio}}</p>
            </div>
            <div class="col form-group">
              <label>Piso:</label>
              <p class="form-control-static">{{ sucursal.piso}}</p> 
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label>Teléfonos:</label>
              <p class="form-control-static">{{ sucursal.telefonos}}</p>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </section>

</div>
<div class="modal-footer">
  <button md-effect type="button" class="btn btn-default" ng-click="$ctrl.cancel()">
    <i class="fa fa-close"></i> Cerrar
  </button>
</div>

