<div class="container">
    <h2 class="page-title"><i class="fa fa-user"></i> Solicitud de sello "Hecho en Bolivia"</h2>
    <div class="card card-main">
        <div class="card-block">
            <div class="alert alert-info" ng-if="$ctrl.productos.length">
                <i class="fa fa-info-circle"></i> Clic en el icono <if class="fa fa-gg-circle"></if> para proceder con la solicitud del sello para su producto seleccionado.
                <br /><small>Nota.- En la bandeja solo se encuentran los productos aprobados por Promueve Bolivia.</small>
                <br /><small>Al hacer click en una fila se usarán los datos del producto aprobado y la unidad productiva correspondiente.</small>
            </div>
            <!-- <div class="alert alert-danger" ng-if="!$ctrl.productos.length">
                <i class="fa fa-warn-circle"></i> Aun no tiene productos aprobados en promueve.
            </div> -->
            <div class="card-container" ng-if="$ctrl.confProd">
                <crud-table url="$ctrl.confProd.url"
                    query-extra="$ctrl.confProd.queryExtra"
                    data="$ctrl.confProd.data"
                    fields="$ctrl.confProd.fields"
                    labels="$ctrl.confProd.labels"
                    permission="$ctrl.confProd.permission"
                    event-create="$ctrl.confProd.eventCreate"
                    buttons="$ctrl.confProd.buttons"
                    fks="$ctrl.confProd.fks"
                    hidden-fields="$ctrl.confProd.hiddenFields">
                </crud-table>
            </div>
        </div>

        <!-- <div class="card-block" ng-if="$ctrl.casoSelloBolivia==1">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> Usted no tiene registros en PROBOLIVIA ni en PROMUEVE, para solicitar su sello deberá:
                <br /> 
                <ol>
                    <li>Llenar un formulario con los datos de su empresa</li>
                    <li>Llenar un formulario con datos del producto par ael cual quiere el sello</li>
                </ol>
                <br /> Para proceder con los pasos haga click en Siguiente
            </div>

            <div class="card-footer text-right">
                <button type="button" class="btn btn-dafault ap-c-pointer" ng-click="$ctrl.irBandeja()">
                <i class="fa fa-angle-double-left"></i> Ir a bandeja de sellos
                </button>
                <button type="button" class="btn btn-primary ap-c-pointer" ng-click="$ctrl.irFormSello()">
                    Siguiente
                    <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
        </div> -->
    </div>
</div>