<div class="container">
    <h2 class="page-title"><i class="fa fa-user"></i> Matrículas</h2>
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> Seleccione una matrícula de comercio
            </div>
            <div class="card-container">
                <div class="card" ng-repeat="matricula in $ctrl.matriculas">
                    <div class="card-img-top badge-info">
                        <div class="img-empresa"></div> <strong>MATRÍCULA: <br> <span>{{ matricula.matricula }}</span></strong>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ matricula.razon_social }}</h4>
                    </div>
                    <button md-effect type="button" ng-click="$ctrl.seleccionar(matricula)" class="btn btn-primary btn-block btn-lg">
                        <i class="fa fa-check-circle"></i> Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
