// Definiendo colores de vuetify
@import '../../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: #7460ee
  secondary: #ffffff
  info: #1e88e5
  warning: #ffb22b
  error: #fc4b6c
  success: #26c6da
  accent: $deep-purple.accent-1
}

@import '../../../node_modules/vuetify/src/stylus/main'
